*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
}

#Calculator{
    width: 320px;
    height: 540px;
    background-color: #eaedef;
    margin: 40px auto;
    border-radius: 5px;
}

#display{
    height: 130px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#output_text{
    width: 250px;
    height: 110px;
    float: left;
}


#microphone{
    height: 30px;
    width: 30px;
    float: right;
    background-image: url('microphone_1.png');
    background-size: 100% 100%;
    border-radius: 50%;
    margin: 20px;
    margin-top: 45px;
    background-repeat: no-repeat;
    color: deepskyblue;
    animation: microphone_anime 1.5s infinite;
}

@keyframes microphone_anime{
    0%{
        transform: scale(0.9);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0,148,255,0.4);
    }
    100%{
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0,148,255,0.4);
    }
}

#keyboard{
    height: 410px;
}

.operator , .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    background-color: darkgrey;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty{
    background-color: #eaedef;;
}

.number:hover,.operator:hover{
    background-color: greenyellow;
}

.operator , .number{
    cursor: pointer;
}

.operator:active , .number:active{
    font-size: 10px;
}

.operator:focus , .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    background-color: darkkhaki;
}

button:nth-child(8){
    font-size: 20px;
    background-color: darksalmon;
}

button:nth-child(12){
    font-size: 20px;
    background-color: deepskyblue;
}

button:nth-child(16){
    font-size: 20px;
    background-color: lightgreen;
}

button:nth-child(20){
    font-size: 20px;
    background-color: orange;
}

.tooltip{
    width: 200px;
    font-size: 9px;
    background-color: #dddddd;
    position: absolute;
    color: #636363;
    padding: 10px;
    top: 65px;
    transform: translatex(60px);
    border-radius: 10px;
    visibility: hidden;
}

.tooltip::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: transparent  #dddddd transparent transparent;
    left: 0;
    margin-left: -20px;
}

#output_microphone:hover .tooltip{
    visibility: visible;
}
